

<div class="grid grid-cols-12 min-h-screen">

  <!-- Static Side -->
  <div class="hidden sm:block sm:col-span-6 bg-gradient-to-br from-sky-100 via-blue-50 to-indigo-100 ">
    <app-static-side></app-static-side>
  </div>

  <!-- Login -->
  <div class="col-span-12 sm:col-span-6 ">
    <!-- <app-login></app-login> -->
     <!-- <app-creat-account></app-creat-account> -->
      <!-- <app-verifiy-otp></app-verifiy-otp> -->
       <!-- <app-forget-password></app-forget-password> -->
        <!-- <app-new-password></app-new-password> -->
         <!-- <app-reset-send></app-reset-send> -->
         <router-outlet></router-outlet>

     
  </div>

</div>