<div class="flex h-full w-full flex-column items-center justify-center bg-white px-8 py-16">
  <div class="w-full max-w-sm">

    

    <!-- Heading -->
    <h2 class="mb-8 text-3xl font-bold text-gray-900">Login</h2>

    <!-- Form -->
    <form   class="flex flex-col gap-5">

      <!-- Username field -->
      <div class="flex flex-col gap-1.5">
        <label for="username" class="text-sm font-medium text-gray-700">
          Username
        </label>
        <input
          id="username"
          name="username"
          type="text"
          placeholder="user123"
          class="main-input"

        />
      </div>
      <!-- Password field -->
      <div class="flex flex-col gap-1.5">
        <label for="password" class="text-sm font-medium text-gray-700">
          Password
        </label>

        <div class="relative">
          
         <!-- <input
          id="username"
          name="username"
          type="password"
          placeholder="*********"
          class="main-input"
          
        /> -->

           <div class="" dir="ltr">
           <p-password 
            styleClass="main-input" 
             id="username"
             name="username"
             [toggleMask]="true"
            placeholder="********"
              appendTo="body" />
              
        </div>
          
        </div>

        <!-- Forgot password -->
        <div class="flex justify-end">
          <a
            routerLink="/auth/forgetpassword"
            class="text-xs text-blue-600 hover:underline hover:cursor-pointer"
          >
            Forgot your password?
          </a>
        </div>
      </div>

      <!-- Submit button -->
     <button class="main-btn"
            type="button" >
           Login
          </button>

    </form>

    <!-- Sign-up link -->
    <p class="mt-6 text-center text-sm text-gray-500">
      Don't have an account?
      <a routerLink="/auth/register" class="font-medium text-blue-600 hover:underline hover:cursor-pointer">
        Create yours
      </a>
    </p>

  </div>
</div>