<div class="flex h-full w-full flex-column items-center justify-center bg-white px-8 py-16">
  <div class="w-full max-w-sm">

    <!-- Heading -->
    <h2 class=" text-3xl font-bold text-gray-900">Create a New Password</h2>
     <p class="text-sm text-gray-500 mb-6 mt-2 font">
     Create a new strong password for your account.
    </p>

    <!-- Form -->
    <form   class="flex flex-col gap-5 font">

      <!--new Password field -->
      <div class="flex flex-col gap-1.5">
        <label for="newpassword" class="text-sm font-medium text-gray-700">
         New Password
        </label>

        <div class="relative">
          
        

          <div class="" dir="ltr">
           <p-password 
            styleClass="main-input" 
              id="newpassword"
          name="newpassword"
             [toggleMask]="true"
            placeholder="********"
              appendTo="body" />
              
        </div>

          
          
        </div>
        
      </div>

      <!--confirm Password field -->
      <div class="flex flex-col gap-1.5">
        <label for="confirmpassword" class="text-sm font-medium text-gray-700">
         Confirm Password
        </label>

        <div class="relative">
          
       

           <div class="" dir="ltr">
           <p-password 
            styleClass="main-input" 
             id="confirmpassword"
          name="confirmpassword"
             [toggleMask]="true"
            placeholder="********"
              appendTo="body" />
              
        </div>

          
          
        </div>

      </div>

      <!-- Submit button -->
     <button class="main-btn"
            type="button" >
           Reset Password
          </button>

    </form>

    <!-- Sign-up link -->
    <p class="mt-6 text-center text-sm text-gray-500 font">
      Don't have an account?
      <a routerLink="/register" class="font-medium text-blue-600 hover:underline hover:cursor-pointer">
        Create yours
      </a>
    </p>

  </div>
</div>