<div class="flex h-full w-full items-center justify-center bg-white px-8 py-16">
  <div class="w-full max-w-sm">

    
    
    

    <!-- Heading -->
    <h2 class="mb-4 text-3xl font-bold text-gray-900">Creat Account</h2>

    <!-- Form -->
    <form  [formGroup]="emailform" (ngSubmit)="sendVerify()" class="flex flex-col gap-5 font ">

       
      <!-- Username field -->
      <div class="flex flex-col gap-1.5">
        <label for="username" class="text-sm font-medium text-gray-700">
          email
        </label>
        <input 
        formControlName="email"
          id="email"
          name="email"
          type="text"
          placeholder="use@example.com"
          class="main-input" />
          <app-validation [controls]="emailform.get('email')"/>
      </div>

       <app-errorbanner [errorMessage]="errorMessage()"/>  
      

      <!-- Submit button -->
     <button class="register-btn font flex justify-center" 
     [disabled]="emailform.invalid"
            type="submit" >
           next <div class="p-1">
            <svg xmlns="http://www.w3.org/2000/svg" 
       width="16" 
       height="16" 
       viewBox="0 0 24 24" 
       fill="none" 
       stroke="currentColor" 
       stroke-width="2" 
       stroke-linecap="round" 
       stroke-linejoin="round">
    <line x1="5" y1="12" x2="19" y2="12"></line>
    <polyline points="12 5 19 12 12 19"></polyline>
  </svg>
           </div>

          </button>

    </form>

    <!-- Sign-up link -->
    <p class="mt-4 text-center text-sm text-gray-500 font">
      Already have an account?
      <a class="font-medium text-blue-600 hover:underline hover:cursor-pointer" routerLink="/auth/login">
        Login
      </a>
    </p>  

  </div>
</div>







