<div class="flex h-full w-full flex-column items-center justify-center bg-white px-8 py-16">
  <div class="w-full max-w-sm">

    <!-- Heading -->
    <h2 class=" text-3xl font-bold text-gray-900">Create a New Password</h2>
     <p class="text-sm text-gray-500 mb-6 mt-2 font">
     Create a new strong password for your account.
    </p>

    <!-- Form -->
    <form [formGroup]="resetpassform" (ngSubmit)="newpassword()"  class="flex flex-col gap-5 font">

      <!--new Password field -->
      <div class="flex flex-col gap-1.5">
        <label for="newpassword" class="text-sm font-medium text-gray-700">
         New Password
        </label>

        <div class="relative">
          
        

          <div class="" dir="ltr">
           
              <p-password
          formControlName="password"
          [toggleMask]="true"
          [feedback]="false"
          placeholder="••••••••"
          styleClass="w-full"
          inputStyleClass="main-input w-full"
        />
        <app-validation [controls]="resetpassform.get('password')"/>

              
        </div>

          
          
        </div>
        
      </div>

      <!--confirm Password field -->
      <div class="flex flex-col gap-1.5">
        <label for="confirmpassword" class="text-sm font-medium text-gray-700">
         Confirm Password
        </label>

        <div class="relative">
          
       

           <div class="" dir="ltr">

              <p-password
          formControlName="newpassword"
          [toggleMask]="true"
          [feedback]="false"
          placeholder="••••••••"
          styleClass="w-full"
          inputStyleClass="main-input w-full"
        />
        <app-validation [controls]="resetpassform"/>

              
        </div>

          
          
        </div>

      </div>
               <app-errorbanner [errorMessage]="errorMessage()"/>  

      @if (succesMessage()) {
  <div class="relative border border-green-600 bg-green-50  px-4 py-3 text-center">
    
    <!-- Circle X icon on top -->
    <div class="absolute -top-2 left-1/2 -translate-x-1/2 bg-white rounded-full">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 text-green-600" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
        <circle cx="12" cy="12" r="10"/>
        <line x1="15" y1="9" x2="9" y2="15"/>
        <line x1="9" y1="9" x2="15" y2="15"/>
      </svg>
    </div>
    <!-- Message text -->
    <p class="text-green-600 text-sm font-medium">{{succesMessage()}} </p>

  </div>
}

      <!-- Submit button -->
     <button class="main-btn"
            type="submit"
             [disabled]="resetpassform.invalid" >
           Reset Password
          </button>

    </form>

    <!-- Sign-up link -->
    <p class="mt-6 text-center text-sm text-gray-500 font">
      Don't have an account?
      <a routerLink="/auth/register" class="font-medium text-blue-600 hover:underline hover:cursor-pointer">
        Create yours
      </a>
    </p>

   @if (succesMessage()) {
     <p class="mt-6 text-center text-sm text-gray-500 font">
      <a routerLink="/auth/login" class="font-medium text-blue-600 hover:underline hover:cursor-pointer">
        Login
      </a>
    </p>
   }

  </div>
</div>