   <div class="flex h-full w-full items-center justify-center bg-white px-8 py-16">
   <div class="w-full max-w-sm">

    

     <!-- creation line -->
    <div class="flex items-center w-full mb-3">
  
  <!-- Step 1 - Completed (filled) -->
  <div class="w-3 h-3 rotate-45 bg-blue-600"></div>
  
  <!-- Line - solid -->
  <div class="flex-1 h-[2px] bg-blue-600 mx-2"></div>
  <!-- Step 2 - Completed (filled) -->
  <div class="w-3 h-3 rotate-45 bg-blue-600"></div>
  
  <!-- Line - solid -->
  <div class="flex-1 h-[2px] bg-blue-600 mx-2"></div>
  <!-- Step 3 - Completed (filled) -->
  <div class="w-3 h-3 rotate-45 bg-blue-600"></div>
  
  <!-- Line - solid -->
  <div class="flex-1 h-[2px] bg-blue-600 mx-2"></div>
   <div class="w-5 h-5 rotate-45 bg-blue-200 flex items-center justify-center">
    <div class="w-3 h-3 bg-blue-600 "></div>
  </div>
  

</div>


     <!-- Heading -->
     <h2 class="mb-1 text-3xl font-bold text-gray-900">Creat Account</h2>
     <h3 class="mb-4 text-3xl font-bold text-main">Create a strong password</h3>

     <!-- Form -->
     <form [formGroup]="passform" (ngSubmit)="register()"  class="flex flex-col gap-5 font ">

          <!-- Password field -->
       <div class="flex flex-col gap-1.5">
         <label for="password" class="text-sm font-medium text-gray-700">
           Password <span class="text-red-500">*</span>
         </label>

         <div class="relative">
            <div class="mb-4" dir="ltr">
           
                <p-password
          formControlName="password"
          [toggleMask]="true"
          [feedback]="false"
          placeholder="••••••••"
          styleClass="w-full"
          inputStyleClass="main-input w-full"
        />
        <app-validation [controls]="passform.get('password')"/>
              
         </div>

         <label for="confirmpass" class="text-sm font-medium text-gray-700 ">
           Confirm Password <span class="text-red-500">*</span>
         </label>

         <div class="relative">
          
         

            <div class="" dir="ltr">
           

                 <p-password
          formControlName="confirmPassword"
          [toggleMask]="true"
          [feedback]="false"
          placeholder="••••••••"
          styleClass="w-full"
          inputStyleClass="main-input w-full"
        />
        <app-validation [controls]="passform"/>
              
         </div>
          
         </div>
         </div>
         </div>
       
         @if (errorMessage()) {
  <div class="relative border border-red-600 bg-red-50  px-4 py-3 text-center">
    
    <!-- Circle X icon on top -->
    <div class="absolute -top-2 left-1/2 -translate-x-1/2 bg-white rounded-full">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 text-red-600" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
        <circle cx="12" cy="12" r="10"/>
        <line x1="15" y1="9" x2="9" y2="15"/>
        <line x1="9" y1="9" x2="15" y2="15"/>
      </svg>
    </div>

    <!-- Message text -->
    <p class="text-red-600 text-sm font-medium">{{errorMessage()}} </p>

  </div>
}

       <!-- Submit button -->
      <button class="main-btn" 
              >
            Create Account
           </button>

     </form>

    

   </div>
 </div>
